.statistics{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.title{
    text-align: center;
    padding: 20px 10px;
}

.statlist{
display:flex;
justify-content: center;
align-items: center;
}